
<main role="main">
  <section class="jumbotron text-center banner-core">
    <div class="container">
      <h1 class="jumbotron-heading">Le Wagon Cinematic Univers</h1>
      <p class="lead text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc aliquet porta dui, nec bibendum quam congue ultrices. Nulla sagittis dui tortor, at facilisis enim tincidunt venenatis. </p>
      <p>
        <%= link_to "Create a new character", new_character_path, class: "btn btn-primary my-2" %>
      </p>
    </div>
  </section>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <% @characters.each do |character| %>
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <div class="img-hover-zoom">
                <img class="card-img-top" src="<%= cl_image_path character.photo, height: 300, width: 400, crop: :fill %>">
              </div>
              <div class="card-body">
                <p class="card-text"><%= character.name %></p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      <%= link_to character_path(character) do%>
                        <i class="far fa-eye"></i> <span>View</span>
                      <% end %>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      <%= link_to edit_character_path(character) do%>
                        <i class="fas fa-pencil-alt"></i> <span>Edit</span>
                      <% end %>
                    </button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">
                      <%= link_to character_path(character), method: :delete, data: {confirm: "Are you sure?"} do%>
                        <i class="fas fa-trash-alt"></i> <span>Delete</span>
                      <% end %>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
