<div class="container-fluid">
  <div class="row d-flex justify-content-center m-5">
    <div class="col-6">

      <h1><%= @character.name %></h1>
      <%= cl_image_tag @character.photo, height: 300, width: 400, crop: :fill %>
      <p><% @character.powers.each do |sp| %></p>
        <p><%= sp.power %></p>
      <% end %>

      <%= link_to characters_path do%>
        <i class="fas fa-home"></i> <span>Home</span>
      <% end %>

      <%= link_to edit_character_path do%>
        <i class="fas fa-pencil-alt"></i> <span>Edit</span>
      <% end %>

      <%= link_to new_character_power_path(@character) do%>
        <i class="fab fa-superpowers"></i> <span>Add a super power</span>
      <% end %>
    </div>
  </div>
</div>
